<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners>
   	 <listener class-name="listeners.TestListeners"/> 
     </listeners>
     
  <test thread-count="1" name="Test">
    <classes>
      <class name="test_cases.PingdomTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
